* {
    padding: 5px;
    margin: 5px;
}

body {
    background-color: lightseagreen;
    color: black;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}