* {
    box-sizing: border-box;
}

body {
    background-color: lightseagreen;
    color: black;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.topnav {
    overflow: hidden;
    background: lightgray;
    position: absolute;
    width: 100%;
}

.topnav a {
    float: left;
    text-decoration: none;
    display: block;
    color: black;
    padding: 14px 16px;
    font-size: 17px;
}

.topnav a:hover {
    background-color: green;
    color: white;
}
.topnav a.active {
    background-color: rgb(2, 63, 143);
    color: white;
}

.topnav .search-container {
   float: right;
}

.topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
}

.topnav .search-container button {
    float: right;
    margin-top: 8px;
    margin-bottom: 3px;
    background-color: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  .topnav .search-container button:hover {
    background: gray;
  }
  